#ct-circle-container{
  width:150px;
  height:150px;
}

#ct-circle-container svg{
  height:100%;
  -webkit-transform:rotate(-90deg);
  transform:rotate(-90deg);
  width:100%;
}

#ct-circle-container svg circle{
  fill:none;
  stroke: red;
  stroke-dashoffset:0;
  stroke-width:50%;
}
