
body {
}

nav {
  background-color: white;
  font-family: 'Monoton', cursive;
  font-size: 45px;
  text-align: center;
}

h3 {
  color: black;
}

footer {
  bottom: 0;
  padding: 1%;
}

.photo {
  margin: 5px;
  text-align: center;
  border: solid black;

}
.container {
  text-align: center;
  margin: auto;
}

.photo-a {
  position: relative;
  width:450px;
  height: 450px;
  display: inline-block;
  background-color: black;
}

.photo-b {
  position: relative;
  width:450px;
  height: 450px;
  display: inline-block;
  background-color: black;
}

.circle {
  position: absolute;
  display: hidden;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.tracker-container{
  margin-left: 44%;
  margin-top: -8%;
}

.tracker {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.start-screen{
  margin-top: 50%;
  font: black;
  font-size: 20px;
  font-family: sans-serif;
}

.start-button{
  padding: 2%;
  background-color: black;
  font: white;
  font-size: 20px;
  font-family: sans-serif;
}


#score {
  font-family: sans-serif;
  font-size: 26px;
  float: right;
  margin-top: -5%;
  margin-right: 15%;
}
